main {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr)) 250px;
    grid-template-areas:
        "header header header"
        "content content author"
        "content content aside"
        "plays . aside"
        "footer footer footer";
    gap: 20px;
}

header {
    grid-area: header;
}

article {
    grid-area: content;
}

aside {
    grid-area: aside;
}

.author-details {
    grid-area: author;
}

.plays {
    grid-area: plays;
}

footer {
    grid-area: footer;
}

@media (min-width: 955px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "content author aside"
            "content plays aside"
            "footer footer footer";
    }
}